{% extends "layout.html" %}
{% block HomeActive %}class="active"{% endblock %}
{% block ConfigureActive %}{% endblock %}
{% block body %}

<script src="../static/js/home.js"></script>


<div ng-app="myApp">
    <div class="container">
        <div class="col-lg-6">
            <div ng-controller="eventsCtrl">
                <h3>Events:</h3>
                <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th class="cell">Start Time:</th>
                            <th class="cell">Summary:</th>
                            <th class="cell">Location:</th>
                            <th class="cell">End Time:</th>
                            <th class="cell">Time Left:</th>
                        </tr>
                        <tr ng-repeat="e in events" name="event" ng-class="getEventClass(e)">
                            <td ng-bind="formatDate(e.start)" class="cell"></td>
                            <td ng-bind="e.summary" class="cell"></td>
                            <td ng-bind="e.location" class="cell"></td>
                            <td ng-bind="formatDate(e.end)" class="cell"></td>
                            <td ng-if="countTime(e.start)<calendarConfigs.startTimerBefore*1000&&countTime(e.start)>-30" class="cell timer">
                                <timer interval="1000" countdown="countTime(e.start)/1000">Time Left:{{minutes|angular}}:{{seconds|angular}}</timer>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-controller="playSound"></div>
                <div ng-controller="jobsCtrl">
                    <h3>Jobs:</h3>
                    <table class="table table-stripped" border-collapse="separate" background="#fafafa">
                        <tbody>
                        <tr>
                            <th class="cell">Job name:</th>
                            <th class="cell">Build #:</th>
                            <th class="cell">Build status:</th>
                            <th class="cell">Branch:</th>
                            <th class="cell">committers:</th>
                            <!--<th class="cell">Test failed:</th>-->
                            <th class="cell">Started by:</th>
                        </tr>
                        <tr ng-repeat="j in jobs" name="job" ng-class="getJobClass(j)">
                            <td ng-bind="j.fullName" class="cell"></td>
                            <td ng-bind="j.buildNumber" class="cell"></td>
                            <td ng-bind="j.status" class="cell"></td>
                            <td ng-bind="j.branch" class="cell"></td>
                            <td ng-bind="j.committers" class="cell"></td>
                            <!--<td ng-bind="j.testsFailed" class="cell"></td>-->
                            <td ng-bind="j.startedBy" class="cell"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>

{% endblock %}