{% extends "layout.html" %}
{% block HomeActive %}class="active"{% endblock %}
{% block ConfigureActive %}{% endblock %}
{% block CalendarActive %}{% endblock %}
{% block body %}

<script>
    var app = angular.module('myApp',['timer','ngAudio']);
    app.controller('eventsCtrl', function($rootScope, $scope, $http, $timeout){
        $scope.events = null;
        (function update(){
            $http.get('http://localhost:5000/get_events')
                    .success(function(response) {
                        $scope.events = $scope.setEventsStatus(response.result.events);
                        console.log($scope.events);
                    });
            $timeout(update,1000000);
        })();

        $scope.setEventsStatus = function(events){

            for (var i=0; i < events.length; i++){
                if ($scope.countTime(events[i].start)>0){
                     status="pending";}
                else{
                    if ($scope.countTime(events[i].start)<0 && $scope.countTime(events[i].end)>0) {
                        status="inprogress";
                    }
                    else {
                        status="finished";
                    }
                }
                  events[i].status = status;
          }
            console.log("modified events:"+events.toString())
            return events;
        };


        $scope.formatDate = function(date)
        {
            var thisDate = new Date();
            thisDate.setTime(Date.parse(date));
            date_hours = thisDate.getHours();
            new_hours = (date_hours<10)?"0"+date_hours.toString():date_hours.toString();
            date_minutes = thisDate.getMinutes();
            new_minutes = (date_minutes<10)?"0"+date_minutes.toString():date_minutes.toString();
            return new_hours + ":" + new_minutes;
        };
        $scope.getMachineTime = function(date){
            return Date.parse(date);
        };
        $scope.getTimeNow = function(){
            //console.log(new Date().getTime());
            return new Date().getTime();
        };

        $scope.countTime = function(date) {
            var interval = Date.parse(date) - new Date().getTime();
//            console.log(interval);
            return interval;
        };
        $scope.stopTimer = function() {
          $scope.$broadcast('timer-stop');
        };
        $scope.$on('timer-stopped', function (event, data){
                console.log('Timer Stopped - data = ', data);
                $scope.setInProgress();
                $rootScope.$broadcast('playNotificationEvent');
            });
        $scope.setInProgress = function(){
            events = $scope.events;
            for (var i=0;i<events.length;i++){
                if (events[i].status == "pending") {
                    console.log("element number:" + i.toString());
                    document.getElementsByName("event")[i].setAttribute("class","inprogress");
                    $scope.events[i].status="inprogress";
                    break;
                }
            }
        };
        $scope.setEventsFinished = function(event_ids){
            for (var i=0;i< event_ids.length;i++){
                document.getElementsByName("event")[event_ids[i]].setAttribute('class','finished');
                $scope.events[event_ids[i]].status="finished";
            }
        };

        $scope.getEventClass =function(event){
            return event.status;
        };

        $scope.setColor = function(){
            document.getElementsByName("event")[1].setAttribute("class","finished");
        }
    });

    app.controller('playSound', function($scope, ngAudio){
        $scope.$on('playNotificationEvent',function(){$scope.playMusic()});
        var sound = ngAudio.load("sounds/notification.mp3");
            $scope.playMusic = function(){
              sound.play();
            };
            $scope.stopMusic = function(){
                sound.stop();
            };
            $scope.pauseMusic = function(){
              sound.pause();
            };

    });
</script>


<div ng-app="myApp">
    <div class="container">
        <div class="col-lg-6">
            <div ng-controller="eventsCtrl">
                <h3>Events:</h3>
                <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th class="cell">Start Time:</th>
                            <th class="cell">Summary:</th>
                            <th class="cell">End Time:</th>
                            <th class="cell">Time Left:</th>
                        </tr>
                        <tr ng-repeat="e in events" name="event" ng-class="getEventClass(e)">
                            <td ng-bind="formatDate(e.start)" class="cell"></td>
                            <td ng-bind="e.summary" class="cell"></td>
                            <td ng-bind="formatDate(e.end)" class="cell"></td>
                            <td ng-if="countTime(e.start)<20*60*1000&&countTime(e.start)>-30" class="cell timer">
                                <timer interval="1000" countdown="countTime(e.start)/1000">Time Left:{{minutes|angular}}:{{seconds|angular}}</timer>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button ng-click="setEventsFinished([2])">Set Events Finished</button>
                </div>
                <div ng-controller="playSound">
                </div>

                <h4>Job 1 {{ name1 }}</h4>
                <p>Job Status: {{ status1 }} </p>

                <h4>Job 2 {{ name2 }}</h4>
                <p>Job Status: {{ status2 }} </p>

                <h4>Job 3 {{ name3 }}</h4>
                <p>Job Status: {{ status3 }} </p>

                <h4>Job 4 {{ name4 }}</h4>
                <p>Job Status: {{ status4 }} </p>

            </div>
    </div>
</div>

{% endblock %}