{% extends "layout.html" %}
{% block body %}
<script>
    var app = angular.module('myApp',['timer']);
    app.controller('eventsCtrl', function( $scope, $http, $timeout){
        $scope.events = null;
        (function update(){
            $http.get('http://localhost:5000/get_events')
                    .success(function(response) {
                        $scope.events = response.result.events;
                        console.log($scope.events);
                    });
            $timeout(update,1000000);
        })();
//        $scope.formatDate = function(date){
//            var thisDate = Date.parse(date);
////            thisDate.setTime(Date.parse(date));
//            console.log(thisDate);
//            var minutes = Math.floor(((thisDate / (60000)) % 60));
//            var hours = Math.floor(((thisDate / (3600000)) % 24));
//            return hours + ":" +minutes;
//            };
        $scope.formatDate = function(date)
        {
            var thisDate = new Date();
            thisDate.setTime(Date.parse(date));
            console.log("event time:" + thisDate.getHours() + ":" + thisDate.getMinutes());
            return thisDate.getHours() + ":" + thisDate.getMinutes();
        };
        $scope.getMachineTime = function(date){
            return Date.parse(date);
        };
        $scope.getTimeNow = function(){
            //console.log(new Date().getTime());
            return new Date().getTime();
        };

        $scope.countTime = function(date) {
            var interval = Date.parse(date) - new Date().getTime();
            console.log(interval);
            return interval;
        };
        $scope.stopTimer = function() {
          $scope.$broadcast('timer-stop');
        };
    });
</script>

<h1>Events:</h1>


<div ng-app="myApp" ng-controller="eventsCtrl">
    <table>
        <tbody>
        <tr ng-repeat="e in events">
            <td ng-bind="formatDate(e.start)"></td>
            <th ng-bind="e.summary"></th>
            <td ng-bind="formatDate(e.end)"></td>
            <!--td ng-bind="e.location"></td-->
            <!--td ng-bind="getTimeNow()"></td-->
            <!--td ng-bind="countTime(e.start)"></td-->
            <!--<td ng-if="getMachineTime(e.start)-getTimeNow() <= 120000000">-->
            <td ng-if="countTime(e.start)>0">
            <timer interval="1000" countdown="countTime(e.start)/1000">{{minutes|angular}}:{{seconds|angular}}</timer>
            </td>
        </tr>
        </tbody>
    </table>
    <button ng-click="stopTimer()">Stop Timer</button>

</div>


{% endblock %}