<!doctype html>
<html data-ng-app lang="en">
<head>
<title> Status Monitor </title>
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../static/timer.js"></script>
<script src="../bower_components/angular-audio/app/angular.audio.js"></script>
     <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-2.1.4.min.js"></script>
    <script src="../static/js/signUp.js"></script>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
<body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" {% block HomeActive %}{% endblock %}><a href="home">Home</a></li>
            <li role="presentation" {% block ConfigureActive %}{% endblock %}><a href="showConfigure">Configure</a></li>
            <li role="presentation" {% block CalendarActive %}{% endblock %}><a href="events">Google Calendar</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">System Monitor</h3>
      </div>
{% block body %}{% endblock %}
    </div>
</body>
</html>